footer.footer 
    .footer__items.footer__logo
        img(src="../src/assets/lusuke__logo--footer.png", alt="Lusuke Website")
        p.padding-48. 
            &copy; 2021 – Some rights reserved. Lucas Sukeyosi aka lusuke. 
            Website typefaces: #[a(href="https://fonts.google.com/specimen/Syncopate" class="main--green" target="_blank" rel="nofollow noopener noreferrer") Syncopate] 
            & #[a(href="https://fonts.google.com/specimen/Lato" class="main--green" target="_blank" rel="nofollow noopener noreferrer") Lato].
            A sincere thanks to #[a(href="https://github.com/richarallan" target="_blank" rel="nofollow noopener noreferrer" class="main--green") Richar]
            that borrow his expertise in development, made it possible.
        //- about__professional -> main--greenlink
    
    .footer__items
        p.footer__items--text You scroll it All the way Through
        ul.footer__menu
            each val, key in {'work.pug': 'work', 'about.pug': 'about', 'contact.pug': 'Lets Talk'}
                li: a(href=`${ key }`)= val
    
    .footer__items.footer--align
        p.footer__items--text Let's drink a e-coffee
        ul.footer__socialm
            each socialmedia in socialLinks
                +socialmedia(socialmedia.name, socialmedia.url, socialmedia.slug)
//- script(src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js") //without lazysizes
script
    //- include ../scripts/photoslide.js
    include ../scripts/slider.js
