footer.footer 
    .footer__items.footer__logo
        img(src="../src/assets/lusuke__logo--footer.png", alt="Logotipo do website de Lusuke tem o formato de uma chave, cujo os dentes são caracteres em kanji com o significado do sobrenome Sukeyosi. A parte  mais inicial da chave tem o formato de um S, que faz referência a sukeyosi e ao simbolo de moeda $", class="footer__logo--desktop", width="114", height="43")
        p. 
            &copy; 2021 – Some rights reserved. Lucas Sukeyosi aka lusuke. 
            Website typefaces: #[a(href="https://fonts.google.com/specimen/Syncopate" class="main--green" target="_blank" rel="nofollow noopener noreferrer") Syncopate] 
            & #[a(href="https://fonts.google.com/specimen/Lato" class="main--green" target="_blank" rel="nofollow noopener noreferrer") Lato].
            A sincere thanks to #[a(href="https://github.com/richarallan" target="_blank" rel="nofollow noopener noreferrer" class="main--green") Richar]
            that borrow his expertise in development, made it possible.
        img(src="../src/assets/lusuke__logo--footer.png", alt="Logotipo do website de Lusuke tem o formato de uma chave, cujo os dentes são caracteres em kanji com o significado do sobrenome Sukeyosi. A parte  mais inicial da chave tem o formato de um S, que faz referência a sukeyosi e ao simbolo de moeda $", class="footer__logo--mobile", width="114", height="43")
    
    .footer__items
        p.footer__items--text You scroll it All the way Through
        ul.footer__menu
            each val, key in {'#works': 'work', 'about.pug': 'about', 'contact.pug': 'Lets Talk'}
                li: a(href=`${ key }`)= val
    
    .footer__items.footer--align
        p.footer__items--text.footer__items--first Let's drink a e-coffee
        ul.footer__socialm
            each socialmedia in socialLinks
                +socialmedia(socialmedia.name, socialmedia.url, socialmedia.slug, socialmedia.pathd)
//- script(async src="https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js")
//- script(async src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js")
script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" defer)
script(src="scripts/slider.js" defer)
script(async src="scripts/scrollto.js")
    //- include ../scripts/photoslide.js REMOVER
    //- include ../scripts/slider.js
    //- include ../scripts/scrollto.js
