//- include ..data/data
include ../mixins/mixinsfooter

doctype html
html(lang="en")
    include head
    body
        header.menu
            include header

        main.main
            block main

        block footer
            include footer