include ../data/data
include ../mixins/mixinsfooter
//- Incluido outro mixin
- var home = 'index.pug';
- var about = 'about.pug';
- var contact = 'contact.pug';
- var  works = 'work.pug';
- var currentPath = 'about';

doctype html
html(lang="en")
    include head
    body
        header.menu
            include header

        main.main
            block main

        block footer
            include footer