include ../data/data
include ../mixins/mixinsfooter
//- Incluido outro mixin
- var home = 'index.pug';
- var about = 'about.pug';
- var contact = 'contact.pug';
- var  works = 'work.pug';
- var currentPath = 'about';

- var perfilAboutDesktopWebp = 'url:assets/lusuke-about-desktop.jpg?as=webp';
- var perfilAboutDesktopJpg = 'assets/lusuke-about-desktop.jpg';
- var perfilAboutMobileWebp = 'url:assets/lusuke-about-mobile.jpg?as=webp';
- var perfilAboutMobileJpg = 'assets/lusuke-about-mobile.jpg';
- var uxTony = 'UX Copy / Tony of Voice';
-var investments = 'Investments: theory and ideas of capital';

//- Only about
- var dash = "– ";

doctype html
html(lang="en")
    include head
    body
        header.menu
            include header

        main.main
            block main

        block footer
            include footer