article.main__service.service
    section.service__header
        h1.main__service--title Client
        h2.main--normal Jonathan Borelli
        h1.main__service--title My Roles
        ul
            li.main--normal Concept
            li.main--normal Branding Design
            li.main--normal UX Copy
            li.main--normal UX Design
    section.service__contents
        h1.main--header Borelli&Co.
        p.main--text.
            Jonathan Borelli is an Australian/Brazilian guy with a strong 
            background in business consultancy. After gathering a lot of 
            theory and practice experience in the field, he resolved to start 
            his own company to help small and medium businesses that are 
            struggling with financial and strategic decisions.
    section.main__view
        figure
            img(src="assets/01.png", alt="Borelli&Co")