.main {
  &__form {
    padding: 5vh 3.4vw;
    height: 100%;
    margin-bottom: 15rem;
    position: relative;

    &--contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      row-gap: 3rem;
      padding: 0 20vw;
    }

    &--grid {
      display: flex;
      flex-flow: column wrap;
      position: relative;
    }

    //Style custom fields and errors
    & i {
      position: absolute;
      left: 95%;
      top: 65%;
      visibility: hidden;
    }
    &--notcheck {
      color: #E43D40;
      // visibility: hidden;
    }
    &--check {
      color: $green;
      visibility: hidden;
    }
    &--sucess {
      color: $green;
    }
    &--error {
      color: #E43D40;
      position: absolute;
      bottom: -1.5rem;
    }

    & .icon.pass {
      visibility: visible;
    }
    & .icon.notpass {
      visibility: visible;
    }
    /* End of custom filds and errors contact */

    &--label {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 2rem;
      box-sizing: border-box;
      text-transform: uppercase;
    }

    &--input {
      color: $black;
      width: 100%;
      height: 3rem;
      background: none;
      border: none;
      border-bottom: 1px solid $green; //changed green to black;
      font-size: 1rem;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder {
        color: $green;
      }
      &::placeholder {
        color: $green;
        font-weight: normal;
        font-style: normal;
      }

      &:focus {
        outline: none;
      }
    }

    &--textarea {
      width: 100%;
      height: 3rem;
      line-height: 1.5;
      background: none;
      border: none;
      border-bottom: 1px solid $green;
      font-family: "lato", "sans-serif";
      font-size: 1rem;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder {
        color: $green;
      }

      &::placeholder {
        color: $green;
        font-weight: normal;
        font-style: normal;
      }

      &:focus {
        outline: none;
      }
    }

    &--submit {
      font-family: "Syncopate";
      color: $green;
      text-transform: uppercase;
      width: 170px;
      padding: 1rem 2rem;
      border: 0.5rem solid;
      border-radius: 2.1875rem;
      font-weight: bolder;
      background: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      margin: 6rem 0;

      &:hover {
        background-color: $green;
        color: $beige;
        transition: all 2ms ease-in-out;
      }
    }

    &--icon {
      position: relative;
      top: 0.15rem;
      left: 1rem;
      padding-right: 0.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    &__form {
      &--contact {
        display: block;
        padding: 0 0.75rem;
      }

      &--grid {
        margin-top: 4rem;
      }

      &--submit {
        display: block;
        margin: 6rem auto 2rem auto;
      }
    }
  }
}

//new class into contact.pug
.send {
  &--btn {
    cursor: pointer;
  }
}
// Estados

//Porqueira do hugo
#result {
  max-width: fit-content;
  width: 100%;
  display: block;
  color: $black;
  margin-top: 1.5rem;
  font-family: "lato", "sans-serif";
  color: #E43D40;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.success {
  color: #75b9a5;
  text-align: left;
}