.footer {
  display: flex;
  flex-flow: row wrap;
  background-color: $black;
  color: $beige;
  padding: 3rem 3.4vw;
  justify-content: space-between; //new add

  &__items:nth-child(even) {
    width: 100%;
    max-width: 400px;
  }

  &__items {
    // flex: 1;
    // max-width: 400px; //new add
    padding: 3rem 0 2.5rem 0; //padding: 3rem calc((1 / 10) * 100%) 3rem 0;

    &--text {
      font: normal normal bolder 1.5rem "Syncopate";
      text-transform: uppercase;
      padding-bottom: 1.5rem;
    }
  }
  &__logo {
    padding-top: 4.6rem;
    max-width: 413px;
    width: 100%;
    &--mobile {
      display: none;
    }
  }
  &__menu {
    list-style: none;
    padding: 0;
    & li {
      padding: 0.3rem 0;
      display: inline-block;
      margin: 0 0.5rem;
    }
    & a {
      color: $beige;
      text-transform: capitalize;
      padding: 1rem 0;

      &:hover {
        color: $green;
      }

      // &::before {
      //   content: "– ";
      // }
    }
  }
  &__link {
    display: flex;
    align-items: center;

    &--icon {
      margin-right: 0.5rem;
    }
  }
  &__socialm {
    margin-top: 1.5rem;
    padding: 0;
    & li {
      display: inline-block;
      padding: 0 1.5rem 0 0;
    }
    & a {
      color: $beige;
      font-size: 0.75rem;
      &:hover {
        color: $green;
      }
      & i {
        margin-right: 0.5rem;
        font-style: normal;
      }
    }
  }
}
@media screen and (min-width: 1356px) and (max-width: 1650px) {
  .footer {
    &__items {
      max-width: 400px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 1355px) {
  .footer {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 2.5rem 1.5rem;
    text-align: center;
    &__items {
      text-align: center;
    }
    &--align {
      width: 100%;
      padding: 3rem 0 2.5rem 0;
    }

    &__items:first-child {
      order: 3;
      padding-top: 3rem;
      width: 100%;
    }
    &__items:last-child {
      order: -1;
    }
    &__logo {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: inline-block;
        margin-top: 4.5rem;
      }
    }
  }
}
@media screen and (max-width:430px) {
  .footer {
    &__items {
      &--first {
        max-width: 265px;
        margin: 0 auto;
      }
    }
  }
}