include ../data/data
include ../mixins/mixinsfooter
//- Incluido outro mixin
include ../mixins/mixinworks
- var home = 'index.pug';
- var about = 'about.pug';
- var contact = 'contact.pug';
- var  works = 'work.pug';
- var currentPath = 'index';

//- Variavéis para imagens
- var perfilHomeDesktopWebp = 'url:assets/perfil-home-desktop.jpg?as=webp';
- var perfilHomeDesktopJpg = 'assets/perfil-home-desktop.jpg';
- var perfilHomeMobileWebp = 'url:assets/perfil-home-mobile.jpg?as=webp';
- var perfilHomeMobileJpg = 'assets/perfil-home-mobile.jpg';

doctype html
html(lang="en")
    include head
    body
        header.menu
            include header

        main.main
            block main

        block footer
            include footer