mixin socialmedia(name, url, slug, pathd)
    li 
        a(href=`${url}` target="_blank", rel="nofollow noopener noreferrer" class="footer__link")
            svg( xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=`footer__link--icon icon-${ name }` viewBox="0 0 16 16")
                path( d=`${ pathd }`)
            span #{slug}