extends templates/layout

block main
    section.main__page
        h1.main__page--title Contact me
        p.main__page--desc. 
        
            #[strong I’d love to hear from you,] feel free #[span(class="main--green") to send me an email]
            for more information, trade some ideas, or just talk about life.
        
        //- a(href="#" class="main__goto")
        //-     .main__circle
        //-         .main__circle--right
        //-         .main__circle--left
            
        //-     | Keep scrolling
    
    section.main__form
        form(action="", method="post", class="main__form--contact")
            .main__form--grid
                label(for="firstname", class="main__form--label") First name
                input(type="text", name="firstname", id="firstname", class="main__form--input" required placeholder="Enter your first name please")
            
            .main__form--grid
                label(for="lastname", class="main__form--label") Last Name
                input(type="text", name="lastname", id="lastname", class="main__form--input" required placeholder="What is your surname?")
            
            .main__form--grid
                label(for="email", class="main__form--label") Email
                input(type="email", name="email", id="email", class="main__form--input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" required placeholder="Enter your email that I can reach you back!")

            .main__form--grid
                label(for="phone", class="main__form--label") Phone number
                input(type="tel", name="phone", id="phone", class="main__form--input" placeholder="This one is optional")

            .main__form--grid
                label(for="message", class="main__form--label") Message
                textarea(name="message", id="message", cols="30", rows="10", class="main__form--textarea" required placeholder="Say hello! Enter your message")
            div

            button(type="submit", name="submit" class="main__form--submit") Send
                i(class="main__form--icon bi bi-arrow-right")