extends templates/layout

block main
    section.main__intro
        img(sizes="(max-width:540px) 300px, (max-width: 1024px) 800px, 1920px", src="", alt="")

    section.portfolio
        .portfolio__item.it1
            p Teste do Item 1
        .portfolio__item.it2
            p Teste do Item 2
        .portfolio__item.it3
            p Teste do Item 3