extends templates/layout

block main
    section.main__intro
        figure
            h1 
                img(src="assets/lucas-presenting-your-skills.svg", alt="Lucas presenting your skills: beer crafter, coffee lover, garage musician, graduate economics finances and master digital marketing and design")
    
    section#about.main__about
        .main__avatar
            figure
                h1
                    img(src="assets/lucas-sukeyosi.jpg", alt="Hi, I'm Lucas Sukeyosi")
        .main__me
            .main__me--grid
                h1.main--header Olá
                    br
                    . 
                        I'm Lucas
                    br
                    . 
                        Sukeyosi.
                p.main--normal. 
                    A Latin American self-taught multidisciplinary designer,
                    with a degree in economics.
                //- esse main normal, talvez possar ser o padrão do body
                p.main--text You can say I’m a #[span.main--green multidisciplinary Designer or an Economist specializing in finance, investment, and banking].
                    br
                    br
                    . 
                        Other than that I’m a garage musician, 
                        former national judo champion, always 
                        a curious and wandering learner. An
                        avid defender of doing things with love, 
                        honesty, and authenticity – producing
                        and serving humanity, always with a
                        purpose.
                a(href="#" class="main__button") read more
    
    section#works.main__works
        figure
            img(src="assets/work-file.svg", alt="Latest Works")
        .main__works--grid
            h1.main--header work file
            p.main--text.
                I thrive to go beyond the software. Passion with art since a kid, 
                working with design since the 2000s, well, a kid also.
            p.main--italic.
                Some snapshots and a briefing description of each select project 
                while I’m working on the full case studies. Other than that, this 
                portfolio would be far from being online. Not the ideal world, but 
                don’t forget that I’m also an Economist.
                
        include templates/workcontent

        .main__works--page
            img(src="assets/goto-portifolio.png", alt="Go to my portfolio")
            p.main__service--title #[a(href="#") You can always #[span.main--green open the door of my portfolio] #[span.main__works--risk (read here a lot of snapshots and brief description)] to see a little more.]
    
    section#blog.main__blog.blog
        h1.main--header blog
        .blog__grid
            p.main--text. 
            
                Pieces of economics/finance, business, and design. Trying to open my 
                mind through writing, and hopefully, serve as a piece of knowledge to 
                yours.

            p.main--italic.
                All the posts are a reflection of 
                my own and I’m not here to sell anything. Views are personal and are 
                not recommendations.
        article.blog__contents
            .blog__image
                img(src="assets/bermix-studio-aX1hN4uNd-I-unsplash.jpg" alt="What the value of money?")
            .blog__frame
                 ul.blog__frame--ul
                    li.blog__frame--li Economics
                    li.blog__frame--li Finance
                    li.blog__frame--li Philosophy

                 h2.main__service--title what the value of money?
                 p.blog__frame--grid.main--normal. 
                    Pieces of economics/finance, business, and design. Trying to open my 
                    mind through writing, and hopefully, serve as a piece of knowledge to 
                    yours.
                 a(href="#" class="blog__frame--button") #[i.bi.bi-arrow-up-right] Read the article
        a(href="#" class="blog__grid--button main__button") check out my journal