extends templates/layout

block main
    section.main__page
        h1.main__page--title Work File
        p.main__page--desc. 
        
            #[strong Giving your company a brand with meaning and purpose –] The goal is to 
            be remembered in the ocean of companies.
        
        a(href="#" class="main__goto")
            .main__circle
                .main__circle--right
                .main__circle--left
            
            | Keep scrolling