extends templates/layout

block main
    section.main__page
        h1.main__page--title Work File
        p.main__page--desc. 
        
            #[strong Giving your company a brand with meaning and purpose –] The goal is to 
            be remembered in the ocean of companies.
        
        a(href="#" class="main__goto")
            .main__circle
                .main__circle--right
                .main__circle--left
            
            | Keep scrolling
    section.main__works
        each work in workContent
            +work(work.client, work.roles, work.roles1, work.roles2, work.roles3, work.roles4, work.roles5, work.enterprise, work.text, work.classSlide, work.navDot, work.indexDot, work.image1, work.image2, work.image3, work.image4, work.image5, work.image6, work.image7, work.image8, work.image9, work.image10, work.alt1, work.alt2, work.alt3, work.alt4, work.alt5, work.alt6, work.alt7, work.alt8, work.alt9, work.alt10)