.main {
  &__myself {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 4.5vw 0 3.4vw;
    margin: 0 auto;
    justify-content: center;

    &--photo {
      width: 100%;
      padding-right: 16rem;
      max-width: 802px;

      & img {
        width: 100%;
        max-width: 802px;
      }
    }

    &--description {
      width: 690px;
      margin: 38.25rem 0 14rem 0;
    }

    &--economist {
      width: 700px;
      margin: 10rem auto;
    }
  }
  &__image {
    &--center {
      width: fit-content;
      margin: 0 auto;
    }
  }
  &__page {
    &--botmargin {
      margin-bottom: 10rem; //changed -> margin: 17rem 0 10rem 0;
    }

    &--skills {
      margin: 0 auto 15rem auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
  }

  // &__download {
  //   display: block;
  //   margin: 0 auto 20rem auto;

  //   > a {
  //     display: block;
  //     margin: 0 auto;
  //   }
  // }
  @media screen and (max-width: 1024px) {
    &__myself {
      &--pic {
        width: 100%;
      }
      &--description {
        width: 50%;
        max-width: 690px;
        margin: 36% 0 14rem 2.5rem; //necessário alterar
      }
    }
    &__page {
      &--botmargin {
        margin: 10rem 0;
      }
      &--skills {
        display: block;
        padding-top: 6rem;
      }

      &--sharping {
        margin-top: 5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__myself {
      &--economist {
        width: 100%;
      }
    }
    &__page {
      &--botmargin {
        margin: 5rem 0 4rem 0;
      }
    }
  }

  @media screen and (max-width: 690px) {
    &__myself {
      display: block;
      &--description {
        width: 100%;
        margin: 5rem 0 15rem 0;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    &__myself {
      flex-flow: column nowrap;
      &--photo {
        padding: 0 0;
        margin: 0 auto;
      }
      &--description {
        margin: 5rem auto 14rem auto;
      }
    }
  }
}

.column {
  width: 100%;

  &--header {
    font-size: 0.75rem;
  }

  &__left,
  &__right {
    background-color: $black;
    color: $beige;
    padding: 6rem 9.8rem;
    height: 800px;

    & ul {
      list-style: none;
      padding: 0;
      @include fluid-font(1.1rem, 1.5rem);
    }
  }

  &--title {
    font-family: "Syncopate", "Sans-serif";
    @include fluid-font(1.5rem, 2rem);
    text-transform: uppercase;
    margin-bottom: 3.5rem;
  }

  @media screen and (max-width: 690px) {
    &__left,
    &__right {
      height: auto;
      padding: 3rem 1.5rem;
    }
  }

  @media screen and (max-width: 460px) {
    &__page {
      &--botmargin {
        padding-bottom: 0;
      }
    }
  }
}
