html,
body {
  background-color: $beige;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  color: $black;

  & figure {
    margin: 0;
    padding: 0;
  }
}
a {
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.main {
  &__page {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    padding: 0 4.5vw 0 3.4vw;
    width: 100%;
    height: auto;
    margin: 24% auto 15% auto;
    transform: translateY(-25%);
  }

  &__goto {
    font-family: "Syncopate";
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 271px;
    margin-top: 8rem;

    &:hover {
      border-color: $green;
      color: $green;

      & div {
        border-color: $green;
        transition: all 2ms ease-out;
      }

      & div:only-child {
        border-color: $beige;
        transition: all 2ms ease-out;
      }
    }
  }

  @media screen and (max-width: 1255px) {
    &__page {
      padding: 10rem 1.5rem 0 1.5rem;
    }
  }

  @media screen and (max-width: 460px) {
    &__page {
      width: 100%;
      padding: 5rem 1.5rem;
      margin: 6rem 0;
      transform: none;
    }

    &__goto {
      transform: scale(0.8);
    }
  }
}
