/*$sizes: 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem, 3rem;
@each $size in $sizes {
    syncopate-#{$size} {
        font-size: $size;
    }
}

@mixin font-family($name, $style, $weight, $lineh) {
    
}*/
@mixin syncopate-16 {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
    font-family: 'Syncopate', sans-serif, Arial, Helvetica;
}
@mixin syncopate-20 {
    font-style: normal;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.8;
    font-family: 'Syncopate', sans-serif, Arial, Helvetica;
}
@mixin syncopate-48 {
    font-style: normal;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.2;
    font-family: 'Syncopate', sans-serif, Arial, Helvetica;
}
@mixin lato-17 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.2;
    font-family: 'lato', sans-serif, Arial, Helvetica;
}
@mixin lato-20 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.1;
    font-family: 'lato', sans-serif, Arial, Helvetica;
}
@mixin lato-14 {
    font-style: italic;
    font-weight: normal;
    font-size: 0.82rem;
    line-height: 1.1;
    font-family: 'Syncopate', sans-serif, Arial, Helvetica;
}
@mixin syncopate-24 {
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'Syncopate', sans-serif, Arial, Helvetica;
}
@mixin lato-16 {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1;
    font-family: 'lato', sans-serif, Arial, Helvetica;
}
@mixin lato-24 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'lato', sans-serif, Arial, Helvetica;
}