.white {
  background: $white !important;
}
.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.4vw;
  width: 100%;
  height: 10vh; // 120px -> 10vh
  position: fixed;
  top: 0;
  background-color: $beige;
  z-index: 2;

  &__logotype--mobile {
    display: none;
  }

  &--mobile {
    display: none;
  }

  & label[for="menu__mob"] {
    display: none;
    cursor: pointer;
  }

  &__navigation {
    list-style: none;
    text-transform: uppercase;
    font-family: "Syncopate", "Sans-serif";
    @include fluid-font(0.75rem, 1.5rem);
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    padding: 20px 40px;
    color: $black;
  }
  //For saving old Style
  // &__item:last-child > a {
  //   display: block;
  //   margin-right: 3.4vw;
  //   font-size: 1rem;
  //   border: 0.5rem solid $green;
  //   border-radius: 35px;
  //   color: $green;
  //   padding: 1rem 2.875rem;

  //   &:hover {
  //     border: 0.5rem solid $beige;
  //     background-color: $green;
  //     color: $beige; 
  //     text-decoration: none;
  //     transition: all 120ms ease-in-out;
  //   }
  // }
}

// @media screen and (min-width: 1256px) {
//   .menu {
//     &__link {
//       &--span {  
//         box-sizing: border-box;
//         -moz-box-sizing: border-box;
//         -webkit-box-sizing: border-box;
//         -webkit-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         user-select: none;
//         transition: color 1s ease;
//         position: relative;
//         z-index: 2;
//         text-decoration: none;
//         -webkit-touch-callout: none;
//         -webkit-tap-highlight-color: transparent;
//         padding: 10px;
//         white-space: nowrap;
//         overflow: hidden;
//         &:focus,
//         &:hover {
//           outline: 0;
//           color: $green;
//           -webkit-transition: color 1s ease;
//           -moz-transition: color 1s ease;
//           -ms-transition: color 1s ease;
//           -o-transition: color 1s ease;
//           transition: color 1s ease;
//         }
//         &:after,
//         &before {
//           -webkit-transition: all 1s ease 0s;
//           -moz-transition: all 1s ease 0s;
//           -ms-transition: all 1s ease 0s;
//           -o-transition: all 1s ease 0s;
//           transition: all 1s ease 0s
//         }
//         &:focus:after,
//         &:focus:before,
//         &:hover:after,
//         &:hover:before {
//           outline: 0;
//           background-color:$green;
//           -webkit-transition: all 1s ease 0s;
//           -moz-transition: all 1s ease 0s;
//           -ms-transition: all 1s ease 0s;
//           -o-transition: all 1s ease 0s;
//           transition: all 1s ease 0s
//         }
//         // &:hover {
//         //   color: $green;
//         //   text-decoration: underline;
//         // } old hover Link
//         &:after {
//           position: absolute;
//           z-index: -1;
//           content: "";
//           width: 3px;
//           height: 3px;
//           left: 0;
//           bottom: 0;
//         }
//         &:focus:after,
//         &:hover:after {
//           width: 100%;
//           height: 3px
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 1255px) {
  .menu {
    display: block;
    // align-items: flex-start;
    // justify-content: space-around;
    padding: 1.5rem 0;
    height: 40px;
    width: 100vw;
    background-color: $beige;

    &--mobile {
      float: right;
      // display: none;
    }

    & label[for="menu__mob"] {
      float: right;
      padding: 0 1.5rem;
      font-size: 1.5rem;
      display: block;
      cursor: pointer;
    }

    &__logotype {
      padding-left: 1.5rem;
      float: left;
    }

    &--nav {
      background: $beige;
      transform: rotateX(90deg);
      transform-origin: top center;
    }

    &__navigation {
      margin-top: 4rem;
      font-size: 1rem;
      transition: all 0.4s;
    }

    &__item {
      display: block;
      border-bottom: 1px solid $black;
      text-align: left;
      padding: 0;

      &:last-child > a {
        border: none;
        color: $black;
        border-radius: 0;
        padding: 1rem 1rem 1rem 1.5rem;
        margin: 0;

        &:hover {
          color: $green;
          text-decoration: none;
          border: none;
          background-color: $beige;
        }
      }
    }
    &__link {
      display: block;
      padding: 1rem 1rem 1rem 1.5rem;

      &:hover {
        background: $beige;
        color: $green;
        text-decoration: none;
      }
    }
    #menu__mob:checked ~ nav {
      transform: rotateX(0);
      transition: all 0.4s;
    }
  }
}

@media screen and (max-width: 455px) {
  .menu__logotype {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.disable {
  display: none;
}

//new button no LCS
@media screen and (min-width: 1256px) {
  .menu {
    &__navigation {
      & a:hover {
        color: $green;
        outline: none;
      }
      & a:focus {
        outline: none;
        background: lightgray; //rever
      }
      & a:focus:not(:focus-visible) {
        background: transparent;
      }
      & a:focus-visible {
        outline: 2px solid red;
        background: transparent;
      } 
    }
    &__link {
      &--risk {
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        color: $black;

        // &:hover {
        //   transition: color 0.3s;
        // }

        &::before,
        &::after {
          position: absolute;
          width: 100%;
          height: 1px;
          background: currentColor;
          top: 100%;
          left: 0;
          pointer-events: none;
        }
        &::before {
          content: '';
        }
      }
      &--metis {
        &::before {
          transform-origin: 100% 50%;
          transform: scale3d(0, 1, 1);
          transition: transform 0.3s;
        }
        &:hover::before {
          transform-origin: 0% 50%;
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}