.main {
  max-width: 100%;
  //   overflow: hidden;
  &--header {
    font-style: normal;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Syncopate", "sans-serif";
    text-transform: uppercase;
    @include fluid-font(2rem, 3rem);
    margin: 0 0 2.625rem 0;
  }
  &--normal {
    @include fluid-font(1rem, 1rem);
    margin: 0.5rem 0 2.5rem 0;
    font-weight: normal;
  }
  &--text {
    @include fluid-font(1.1rem, 1.5rem);
  }
  &--italic {
    font-style: italic;
  }
  &--green {
    color: $green;
  }
  /* title and desc: all pages - font */
  &__page {
    &--title {
      @include fluid-font(1rem, 1.5rem);
      font-weight: normal;
    }
    &--desc {
      @include fluid-font(1.3rem, 3rem);
      font-family: "Syncopate", "sans-serif";
      text-transform: uppercase;
      margin: 5rem 0;
    }
  }

  &__intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    margin: 0 auto;
    width: auto;
    height: 100vh;

    & img {
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      & img {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (min-width: 1256px) {
    &__about {
      display: flex;
      margin: 5rem 0;
      flex-flow: row wrap;
      padding-right: 6rem;
      // height: 100vh;
    }
    &__avatar {
      width: 100%;
      flex: 1;
    }
    &__me {
      width: 50%; /* definir largura // old: 21.5vw */
      padding: 1.5rem 20rem 1.5rem 5rem; /* olds values: margin: 0 18.5vw 0 10vw; */
      box-sizing: border-box;

      &--grid {
        width: 414px;
      }
    }
    &__button {
      display: block;
      width: fit-content;
      border-radius: 35px;
      padding: 12px 4.125rem 12px 4.125rem;
      font: normal normal bold 1rem/1.1 "Syncopate";
      text-transform: uppercase;
      border: 0.5rem solid #75b9a5;
      color: #75b9a5;
      margin-top: 5.5rem;
      &:hover {
        background-color: #75b9a5;
        color: #efefe6;
        border: 0.5rem solid rgba(239, 239, 230, 1);
      }
    }
  }
  @media screen and (min-width: 1256px) and (max-width: 1599px) {
    &__about {
      display: flex;
      flex-flow: column wrap;
      padding-right: 6rem;
      margin: 5rem 0;
      height: 100vh;
    }
    &__avatar {
      width: 50vw;
      flex: 1;
    }
    &__me {
      width: 40vw; /* 30vw old value */
      padding-left: 5vw;
    }
    &__button {
      display: block;
      width: fit-content;
      border-radius: 35px;
      padding: 12px 4.125rem 12px 4.125rem;
      font: normal normal bold 1rem/1.1 "Syncopate";
      text-transform: uppercase;
      border: 0.5rem solid #75b9a5;
      color: #75b9a5;
      margin-top: 5.5rem;
      &:hover {
        background-color: #75b9a5;
        color: #efefe6;
        border: 0.5rem solid rgba(239, 239, 230, 1);
      }
    }
  }
  @media screen and (max-width: 1255px) {
    &__about {
      display: flex;
      flex-flow: column wrap;
    }
    &__avatar {
      width: 100%;
    }
    &__me {
      padding: 3rem 3rem 3rem 1.75rem;
      text-align: left;
      height: 100%;
    }
    &__button {
      display: block;
      width: fit-content;
      border-radius: 35px;
      padding: 12px 4.125rem 12px 4.125rem;
      font: normal normal bold 1rem/1.1 "Syncopate";
      text-transform: uppercase;
      border: 0.5rem solid #75b9a5;
      color: #75b9a5;
      margin: 5.5rem auto;
      &:hover {
        background-color: #75b9a5;
        color: #efefe6;
        border: 0.5rem solid rgba(239, 239, 230, 1);
      }
    }
  }

  &__avatar img {
    width: 100%;
  }
  /* Service */
  &__works {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    padding: 8rem 2.5rem 5rem 4rem;

    > figure > h1 {
      margin: 5rem 0 8rem 0;
    }

    &--grid {
      padding: 0 26.5vw;
      margin-bottom: 8rem;
    }

    &--page {
      width: 560px;
      margin: 10rem auto;
      & img {
        width: 15%;
      }

      & p {
        line-height: 1.5;
      }
    }

    &--risk {
      text-decoration: line-through;
    }
  }

  @media screen and (max-width: 560px) {
    &__works--page {
      width: auto;
      padding: 0 1.75rem;
      margin-bottom: 5rem;
    }
  }
  &__view--pic {
    width: 100%;
    // display: block;
  }
  &__service--title {
    font: normal normal bolder 1.5rem "Syncopate", "sans-serif";
    text-transform: uppercase;
  }
  @media screen and (max-width: 1255px) {
    &__works {
      margin: 0 auto;
      display: block;
      padding: 0 0 10rem 0;
      text-align: center;

      &--grid {
        padding: 0 3rem 6rem 3rem;
        margin-bottom: 0;
      }
    }
    &__view--pic {
      width: 100%;
      justify-content: center;
    }
    &__view {
      margin-top: 0.25rem;
    }
  }
  &__view {
    margin-top: 3.75rem;
  }

  /* blog */
  &__blog {
    display: block;
    padding: 0 3.4vw;
  }
}
