.carousel {
    max-width: 1350px;
    width: 100%;
    &__container {
        width: 100%;
        max-width: 1349px;
        // padding: 1.5rem;
        box-sizing: border-box;
        position: relative;
        margin: 3rem auto 4rem auto; //mobile fix: replace 2.5rem -> 3rem auto 4rem auto;
    }
    &-cell {
        width: 100%;
        max-height: 759px;
        object-fit: contain;

        & img {
            width: 100%;
        }
    }
}
@media screen and (max-width:280px) {
    .carousel {
        height: 131px;
    }
}
@media screen and (min-width:281px) and (max-width:320px) {
    .carousel {
        height: 160px;
    }
}
@media screen and (min-width:321px) and (max-width:360px) {
    .carousel {
        height: 182px;
    }
}
@media screen and (min-width:361px) and (max-width:375px) {
    .carousel {
        height: 184px;
    }
}
@media screen and (min-width:376px) and (max-width:384px) {
    .carousel {
        height: 190px;
    }
}
@media screen and (min-width:385px) and (max-width:414px) {
    .carousel {
        height: 206px;
    }
}
@media screen and (min-width:415px) and (max-width:540px) {
    .carousel {
        height: 277px;
    }
}
@media screen and (min-width:541px) and (max-width:768px) {
    .carousel {
        height: 406px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .carousel {
        height: 549px;
    }
}
@media screen and (min-width:1025px) and (max-width:1150px) {
    .carousel {
        height: 617px;
    }
}
@media screen and (min-width:1151px) and (max-width:1200px) {
    .carousel {
        height: 644px;
    }
}
@media screen and (min-width:1201px) and (max-width:1350px) {
    .carousel {
        height: 698px;
    }
}
@media screen and (min-width:1351px) and (max-width:1430px) {
    .carousel {
        height: 744px;
    }
}

// .main {
//     &__view {
//         width: 100%;
//         max-width: 1350px;
//         // padding: 1.5rem;
//         box-sizing: border-box;
//         position: relative;
//         margin: 2.5rem auto 0 auto;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
// }
//         &--slide {
//             max-width: 1400px;
//             width: 100%;
//             display: none;
//             & img {
//                 width: 100%;
//                 max-width: 1350px;
//                 vertical-align: middle;
//             }
//         }
//         &--dot {
//             margin: 1.5rem auto;
//             width: fit-content;
//             display: none;
//         }
//         &--prev,
//         &--next {
//             cursor: pointer;
//             position: absolute;
//             // bottom: 50%;
//             width: auto;
//             color: $black;
//             font-weight: bold;
//             font-size: 2rem;
//             transition: 0.6s ease-in-out;
//             border-radius: 0 3px 3px 0;
//             user-select: none;
//             padding: 1.5rem 2rem;
//         }
//         &--prev {
//             left: 0;
//         }
//         &--next {
//             right: 0; //right: 1.55rem
//             border-radius: 3px 0 0 3px;
//         }
//         &--prev:hover,
//         &--next:hover {
//             background-color: rgba(117, 185, 165, 0.8);
//         }
//     }
//     @media screen and (max-width: 1255px) {
//         &__view {
//             &--prev, &--next {
//                 padding: 0.3rem 0.8rem;
//                 font-size: 1.3rem;
          
//             }
//         }
//     }
// }
// .dot {
//     cursor: pointer;
//     height: 1.5rem; // SEO 48px
//     width: 1.5rem; // SEO 48px
//     // padding: 0.75rem 0.75rem; //necessário 48px para max SEO
//     background-color: #DBDBDB;
//     border-radius: 50%;
//     display: inline-block;
//     transition: background-color 0.6s ease;
//     margin: 0 0.5rem;
//     &:hover {
//         background-color: #717171;
//     }
// }
// .active {
//     background-color: #717171;
// }
// .fade {
//     -webkit-animation-name: fade;
//     -webkit-animation-duration: 1.5s;
//     animation-name: fade;
//     animation-duration: 1.5s;
// }
// @-webkit-keyframes fade {
//     from {
//         opacity: .4
//     }
//     to {
//         opacity: 1
//     }
// }
// @keyframes fade {
//     from {
//         opacity: .4
//     }
//     to {
//         opacity: 1
//     }
// }