.service {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-items: center;
  justify-content: center; /* This property align center*/
  padding: 5rem 0;
  margin: 0 auto;

  &__header {
    width: 100%;
    max-width: 192px;
    text-transform: capitalize;
    margin-right: 11.25rem;
  }
  &__contents {
    width: 100%;
    max-width: 960px;
    &--text {
      @include fluid-font(1.1rem, 1.5rem);
      max-width: 48.8125rem;
    }
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      margin: 0.15rem 0;
    }
  }
}
@media screen and (max-width: 1199px) {
  .service {
    flex-flow: column nowrap;

    &__header {
      padding: 0 3vw 1vh 3vw; /* 12vh = 1vh*/
      max-width: 350px;
      width: 90%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0 auto;
      order: 1;
      text-align: center;
    }

    &__contents {
      padding: 3.125rem 1.25rem; /* old values padding: 3.125rem 3rem 3rem 3rem; */
      order: -2;
      width: 100%;
      box-sizing: border-box;
      &--header {
        text-align: center;
      }

      > h1 {
        text-align: center;
      }
      &--text {
        margin: 1.5rem auto;
      }
      & ul {
        text-align: center;
      }
    }
  }
}
