- 
    const socialLinks = [
        {
            "name": "instagram",
            "url": "https://www.instagram.com/sukeyosi/",
            "slug": "/sukeyosi"
        },
        {
            "name": "linkedin",
            "url": "https://www.linkedin.com/in/sukeyosi/",
            "slug": "/sukeyosi"
        },
        {
            "name": "twitter",
            "url": "https://twitter.com/lusuke",
            "slug": "/lusuke"
        }
    ]