- 
    const socialLinks = [
        {
            "name": "instagram",
            "url": "https://www.instagram.com/sukeyosi/",
            "slug": "/sukeyosi"
        },
        {
            "name": "linkedin",
            "url": "https://www.linkedin.com/in/sukeyosi/",
            "slug": "/sukeyosi"
        },
        {
            "name": "twitter",
            "url": "https://twitter.com/lusuke",
            "slug": "/lusuke"
        }
    ]

-
    const workContent = [
        {
            "client": "Jonathan Borelli",
            //- "roles": "",
            "roles1": "Concept",
            "roles2": "Branding",
            "roles3": "UX Copy",
            "roles4": "UX Design",
            //- "roles5": "",
            "enterprise": "Borelli&co.",
            "text": "Jonathan Borelli is an Australian/Brazilian guy with a strong background in business consultancy. After gathering a lot of theory and practice experience in the field, he resolved to start his own company to help small and medium businesses that are struggling with financial and strategic decisions.",
            "classSlide": "slider1", //Necessário incrementar a cada novo cliente adicionado
            "navDot": "dots1", //Necessário incrementar a cada novo cliente adicionado
            "indexDot": "0", //Necessário incrementar +1 a cada novo Cliente adicionado
            "image1": "borelli-01",
            "image2": "borelli-02",
            "image3": "borelli-03",
            "image4": "borelli-04",
            "image5": "borelli-05",
            "image6": "",
            "image7": "",
            "image8": "",
            "image9": "",
            "image10": "",
            "alt1": "The illustration shows the presentation of the Borreli&Co website on a tablet in the landscape position on a cyan blue background with shadows to emphasize the realism of a home environment.",
            "alt2": "A smartphone in portrait position with the website of the client borelli&co, emphasizing the responsiveness of the website, that is, the same website is compatible with all current browsers and existing smartphones.",
            "alt3": "Application of the company's logo and colors to a business card, the back of which contains contact information and a QR Code for contact.",
            "alt4": "Application of an information banner with the company name and logo in the upper left corner, company contact information in the upper right corner, in the center highlighted the phrase: we believe that managing your dream business shouldn't be complicated, and at the bottom the social network links: linkedIn and instagram.",
            "alt5": "Development of Jonathan Borelli's logo, consists of 3 archetypes of people united to communicate and exchange information in a symbiotic way, in which the connection of the corresponding part to the head alludes to the shape of infinity and at the same time an open eye always looking for the future, and other applications of the logo in cyan blue, medium light yellow, light yellow.",
            "alt6": "",
            "alt7": "",
            "alt8": "",
            "alt9": "",
            "alt10": ""
        },
        //Nova inserção
        {
            "client": "Jonathan Borelli",
            //- "roles": "",
            "roles1": "Concept",
            "roles2": "Branding",
            "roles3": "UX Copy",
            "roles4": "UX Design",
            //- "roles5": "",
            "enterprise": "Borelli&co.",
            "text": "Jonathan Borelli is an Australian/Brazilian guy with a strong background in business consultancy. After gathering a lot of theory and practice experience in the field, he resolved to start his own company to help small and medium businesses that are struggling with financial and strategic decisions.",
            "classSlide": "slider2", //Necessário incrementar a cada novo cliente adicionado
            "navDot": "dots2", //Necessário incrementar a cada novo cliente adicionado
            "indexDot": "1", //Necessário incrementar +1 a cada novo Cliente adicionado
            "image1": "borelli-01",
            "image2": "borelli-02",
            "image3": "borelli-03",
            "image4": "borelli-04",
            "image5": "borelli-05",
            "image6": "",
            "image7": "",
            "image8": "",
            "image9": "",
            "image10": "",
            "alt1": "The illustration shows the presentation of the Borreli&Co website on a tablet in the landscape position on a cyan blue background with shadows to emphasize the realism of a home environment.",
            "alt2": "A smartphone in portrait position with the website of the client borelli&co, emphasizing the responsiveness of the website, that is, the same website is compatible with all current browsers and existing smartphones.",
            "alt3": "Application of the company's logo and colors to a business card, the back of which contains contact information and a QR Code for contact.",
            "alt4": "Application of an information banner with the company name and logo in the upper left corner, company contact information in the upper right corner, in the center highlighted the phrase: we believe that managing your dream business shouldn't be complicated, and at the bottom the social network links: linkedIn and instagram.",
            "alt5": "Development of Jonathan Borelli's logo, consists of 3 archetypes of people united to communicate and exchange information in a symbiotic way, in which the connection of the corresponding part to the head alludes to the shape of infinity and at the same time an open eye always looking for the future, and other applications of the logo in cyan blue, medium light yellow, light yellow.",
            "alt6": "",
            "alt7": "",
            "alt8": "",
            "alt9": "",
            "alt10": ""
        },
    ]